title = "Posts Detail"
url = "/posts/:slug"
layout = "default"
is_hidden = 0

[session]
security = "user"
redirect = "login"
==
<?php
use Kilamieaz\Indogram\Models\Post;
    function onStart(){
        $this['post'] = Post::whereSlug($this->param('slug'))->first();
    }
?>
==
{% component 'session' %}
<div class="row">
    <div class="col-md-4 offset-md-4 p-4">
        {% if post %}
        <div class="card p-4">
            {% if post.image %}
            <img class="card-img-top" src="{{ post.image.thumb(200,auto) }}" alt="Card image cap">
            {% else %}
            <img class="card-img-top" src="https://via.placeholder.com/200" alt="Card image cap">
            {% endif %}

            <div class="card-body">
                <h5 class="card-title">
                    {{ post.date_format }}
                </h5>
                <p class="card-text">{{ html_limit(post.description, 150)|raw }}</p>
                <br>
                {% for tag in post.tags %}
                <a href="/posts/tag/{{tag.slug}}" class="btn btn-primary">
                    {{ tag.name }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <li class="no-data">No Posts found</li>
        {% endif %}
    </div>
</div>